@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    will-change: var(--scroll) var(--per) var(--heroper) var(--paralax);
    --scroll:1px;
    --bg-color-light: #6cebe4;
    --bg-color-mid:rgb(0, 136, 79);
    --bg-color-dark: #010300;
    --heading-bg: #FF392C;
    --nav-color: #15614e;
    --nav-color-hover: #2e967c;
    --per:0;
    --heroper:0.1;
    --paralax: 0px;
}

*{
    box-sizing: border-box;
}

@keyframes fish1 {
    from{background-position-x: 0,0;}
    to{background-position-x: -400vh,-120vh;}

}

@keyframes fish2 {
    from{background-position-x: 0;}
    to{background-position-x: -60vh;}

}

.presbox{
    display:flex;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 1100px;
    padding-bottom: 30px;
}

html{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    background-image: linear-gradient(var(--bg-color-light), var(--bg-color-mid) calc(var(--heroper) * 100%), var(--bg-color-dark));
}
.bg{
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in oklab, var(--bg-color-light) calc(100% - ((var(--per) / var(--heroper)) * 100%)),
    var(--bg-color-mid) calc((var(--per) / var(--heroper)) * 100%));
}
.name-text{
    font-family: "Libre Bodoni", serif;
    font:italic 40px serif;
    font-weight: 500;
}

.deep{
    background-color: color-mix(in oklab, var(--bg-color-mid) calc(100% - (((var(--per) - var(--heroper)) / ( 1 - var(--heroper))) * 100%)), 
    var(--bg-color-dark) calc(((var(--per) - var(--heroper)) / ( 1 - var(--heroper))) * 100%));
}

.fish{
    top: 0;
    position: sticky;
    
    
    
    z-index: -50;
    opacity: 1;
    background-image: url(Illustration20.png), url(Illustration21.png);
    background-size: auto 200vh, auto 120vh;
    width: 100%;
    height: 100vh;
    animation: fish1 60s linear infinite;
    box-shadow: 20px 20px #ffffff;

    
    
}

.bloom{
    z-index: -10;
    position:fixed;
    
    opacity: 0;
    background-image: url(bloom.png), url(bloom.png);
    background-size: auto 200vh, auto 120vh;
    width: 100vw;
    height: 100vh;
    animation: fish1 60s linear infinite;
}


.bloomscroll{
    will-change: background-position opacity;
    background-position-y: calc(((var(--scroll)/3) * -1 ) + var(--scroll)), calc(((var(--scroll)/1.5) * -1) + var(--scroll));
    opacity: calc(var(--per) -1 *-1);
}

.fishscroll{
    top:0;
    will-change: background-position;
    
    background-position-y: calc(((var(--scroll)/3) * -1 ) + var(--scroll)), calc(((var(--scroll)/1.5) * -1) + var(--scroll));
    
}

.infobox {
    width: 30%;
    flex-grow: 5;
    
}

.infoimg{
    width: 30%;
    flex-grow: 3;
}

.infoimg img{
    display: block;
    width: 80%;
    margin:auto;
}

.infobox p{
    padding: 40px 40px 40px 40px;
    margin: auto;
    width: 80%; 

    color:white; 
    font-size: larger; 
    background-color: #27310983; 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
}

#aquarium{
    width: 90vw;
    height: 0vh;
}

.caustics {
    will-change: background-position-x;
    z-index: -20;
    opacity: calc(max(0, ((var(--per) -1) * -1)) * 70% + 20%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image:  url(caust-sheet.png);
    background-position-x: var(--frame-offset);
    mix-blend-mode:overlay;
    filter: blur(5px);
    background-size: auto 160vh;
}

.hero{
    min-height: max-content;
    height: 100vh; 
    width: 100%; 
    margin-bottom: 50vh;
    padding:20px;
    overflow: hidden;
}

h1{
    background-color: var(--heading-bg);
    color: #0000;
    color: rgba(0,0,0,0.5);
}

.linkbar {
    height: 10%;
}

.head{
    backdrop-filter: blur(10px);
    width:80%;
    max-height: fit-content;
    position: absolute;
    transform: translate(0,calc((var(--per)) * 100%));
    left:10%;
    top: 30%;
    z-index: -1;
}

.headimg{
    background-color: #000000;
    width:40%;
    height:75%;
    min-height: 30vw;
    position:absolute;
    left:20%;
    top:20%;
    overflow: hidden;
    z-index: -2;
}

.headimg img{
    height: 120%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.navbar{
    position: fixed;
    transform: translateX(calc(((var(--per) / var(--heroper)) * 100%)));
}

.navbar ul {
    list-style: none;
    color: var(--nav-color);
}

.navbar ul :hover{
    color: var(--nav-color-hover);
}

.navbar ul li {
    font-family: "Libre Bodoni", serif;
    font-size: 2.5vw;
    display: inline-block;
    margin-right: 5vw;
    z-index: 100;
}

.burgbar{
    display: none;
}

@media only screen and (max-width: 768px){
   
    
    .head{
        display: block;
        backdrop-filter: blur(0px);
        width:100%;
        max-height: fit-content;
        position: relative;
        transform: translate(0,0);
        left:0%;
        top: 0%;
        padding-bottom: 20px;
    }
    .headimg{
        
        transform: translate(0,0);
        width:100%;
        height: auto;
        aspect-ratio: 1;
        position:relative;
        left:0%;
        top:0%;
        overflow: hidden;
        z-index: -1;
    }
    .headimg img{
        height: auto;
        width: 100%;
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0;
    }
    .infobox {
        width: 100%;
        flex-grow: 0;
        margin-bottom: 2vw;
    }
    
    .infoimg{
        width: 100%;
        margin-bottom: 2vw;
        flex-grow: 0;
    }
    .presbox{
        display: block;
    }

    .navbar{
        margin-top: 60px;
        background-color: #FF392C;
        position: fixed;
        display: block;
        width: 100%;
        transform: translate(0,0);
        transition: height 0.5s;
        overflow: scroll;
        top:0;
        left:0;
        height: 0;
        padding-top: 60;
        z-index: 99;
    }
    .hero{
        padding-top: 80px;
    }
    .navbar ul{
        padding: 0;
    }
    .navbar ul li {
        width:100%;
        font-family: "Libre Bodoni", serif;
        font-size: 5vw;
        text-align: center;
        color: white;
        border-bottom: solid white;
        padding: 20px 0px;
        margin:0;
    }
    .navbar ul :hover{
        background-color: #ff685e;
        color: white;
    }
    .burger{
        width:60px;
        height:100%;
        margin-left: 20px;
        z-index: 100;
        background-color: white;
    }
    .burgbar{
        display: flex;
        width: 100%;
        height: 60px;
        position: fixed;
        top:0;
        padding: 0;
        background-color: var(--heading-bg);
        z-index: 100;
        align-items: center;
    }

    .bartitle{
        font-family: "Libre Bodoni", serif;
        font:italic 40px serif;
        font-weight: 500;
        margin:0;
        width: 100%;
        transform: translate(100%,0%);
        transition: transform 0.5s;
        text-align: right;
        padding-right: 20px;
        color:white
    }

    .bartitleon{
        transform: translate(0,0);
    }

}